.container, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    margin-top: 20px;
    background-color: white;

}
h1{
    color: black;
}
.container {
    width: 600px;
    border: 2px solid #41719C;
    color: blue;
    margin: 200px auto;
}

.input_name {
    background-color: #70AD47;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 0px;
    width: 100px;
    height: 15px;
    padding-top: 9px;
    padding-bottom: 11px;
    text-align: center;
    display: inline-block;
    border: 2px solid #41719C;
}
.sub_label{
    color: black;


}
.entering {
    color: blue;
    padding: 5px;
    border-radius: 0px;
    width: 400px;
    height: 25px;
    display: inline-block;
    margin: 5px 20px;
    border: 2px solid #41719C;
}

.fileToUpload {
    padding: 5px;
    border-radius: 0px;
    width: 400px;
    height: 25px;
    display: inline-block;
    margin: 5px 20px;
}

.input_gen {
    margin-bottom: 24px;
}

.choose_gender {
    color: black;
    padding-left: 10px;
    margin-left: 5px;
    font-size: 20px;
    display: inline-block;

}

.input_falcuty {
    margin-bottom: 24px;
}

.choose-falcuty {
    color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 0px;
    width: 90px;
    height: 45px;
    padding-top: 9px;
    padding-bottom: 5px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    border: 2px solid #41719C;
}
.choose-address{
    color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 0px;
    width: 120px;
    height: 45px;
    padding-top: 9px;
    padding-bottom: 5px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    border: 2px solid #41719C;
}
.checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #70AD47;
    border: 2px solid #41719C;
}
.checkbox-label input:checked + .checkbox-custom:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
}
.button-container {
    background-color: #70AD47;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 8px;
    cursor: pointer ;
    border: none;
    border: 2px solid #41719C;
}

.choose_gender label {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;


}



.date_of_birth {
    margin-bottom: 24px;
}

.date_input {
    padding: 5px;
    margin: 5px;
    border-radius: 0px;
    width: 190px;
    height: 34px;
    padding-top: 0px;
    padding-bottom: 2px;
    text-align: left;
    display: inline-block;
    margin-left: 20px;
    border: 2px solid #41719C;
}

.input_address {
    border-radius: 0px;
    width: 180px;
    height: 50px;
    resize: vertical;
    padding-top: 0px;
    padding-bottom: 85px;
    display: inline-block;
    margin-left: 20px;
    padding-right: 222px;
    margin-top: 5px;
    border: 2px solid #41719C;
}

form {
    display: flex;
    align-self: flex-start;
    padding-left: 20px;
}

#errorMessage {
    display: none;
    color: red;
    text-align: left;
    padding-right: 400px;
}