.container, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin-top: 20px;
    background-color: white;

}
#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 150px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid rgb(5 84 149);
}

#popup .popup-content button {
    float: right;
    padding: 12px 5px;
    margin-left: 5px;
}

.input_name{
    background-color: #4F81BD;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 0px;
    width: 100px;
    height: 15px;
    padding-top: 9px;
    padding-bottom: 11px;
    text-align: center;
    display: inline;
    border: 2px solid #41719C;
}
.entering {
    color: blue;
    padding: 5px;
    border-radius: 0px;
    display: inline-block;
    margin: 5px 20px;
    border: 2px solid #41719C;
}
#department{
    width: 162px;
    height: 39px;
}
#inputmajor{
    width: 150px;
    height: 25px;
}
form {
    display: flex;
    padding-left: 20px;
}

.button-container {
    color: white;
    cursor: pointer ;

}
#nonsubmitButton_2{
    width: 120px;
    height: 38px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 8px;
    border-radius: 5px;
    background-color: #4F81BD;
    border: 3px solid #41719C;
}
#nonsubmitButton{
    width: 120px;
    height: 38px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 8px;
    border-radius: 5px;
    background-color: #4F81BD;
    border: 3px solid #41719C;
}
#submitButton{
    width: 75px;
    height: 30px;
    border-radius: 5px;
    background-color: #4F81BD;
    border: 3px solid #41719C;
    position: relative;
    left: 120px;
    top: 20px;
}
.tittle{
    position: relative;
    right: 90px;
}
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left; /* Căn trái cho tất cả các cột */
    border-bottom: 1px solid #ddd;
}

th {
    background-color: white;
    font-weight: bold;
}

#tableButton{
    padding: 5px 5px;
    margin: 5px;
    width: 60px;
    background-color: #92B1D6;
    border: 3px solid #4F729D;
}
table th, table td {
    border: none; /* Xóa đường kẻ cho tất cả các ô */
}
th:not(:first-child),
th:not(:first-child) {
    margin-left: 2px; /* Khoảng cách giữa các cột */
}

th:nth-child(3) {
    margin-right: 20px; /* Khoảng cách giữa cột "Khoa" và cột "Action" */
}